@using GeradorDeTestes.WebApp.Models;
@model CadastrarMateriaViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Cadastro de Materia";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body p-4">

                    <h2 class="card-title text-center mb-4">CATEGORIA</h2>

                    @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <form asp-controller="Categoria" asp-action="Cadastrar" method="post">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Nome" class="form-label">Nome *</label>
                                    <input asp-for="Nome" class="form-control" />
                                    <span asp-validation-for="Nome" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 d-flex justify-content-end gap-2">
                            <a href="/materias" class="btn btn-outline-secondary">Visualizar</a>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}